<!DOCTYPE html>
<html lang="en">
<footer class="main-footer">
    <div class="footer">
        <div class="container" style="margin-top: 30px">
            <h2 style="text-align: center; color: white;">Liên hệ với chúng tôi</h2>
            <div class="row iconsbar">
                    <a href="#" title="Facebook" style="text-decoration: none;">
                        <img src="img/contact/1.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="Flickr" style="text-decoration: none;">
                        <img src="img/contact/2.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="Vimeo" style="text-decoration: none;">
                        <img src="img/contact/3.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="google plus" style="text-decoration: none;">
                        <img src="img/contact/4.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="instagram" style="text-decoration: none;">
                        <img src="img/contact/5.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="pinterest" style="text-decoration: none;">
                        <img src="img/contact/6.png" class="img-responsive icon" alt="Responsive image">
                    </a>
            </div>
        </div>
    </div>
</footer>