<!DOCTYPE html>
<html lang="en">
<footer class="main-footer">
    <div class="footer">
        <div class="container" style="margin-top: 30px">
            <h2 style="text-align: center; color: white;">Liên hệ với chúng tôi</h2>
            <div class="row iconsbar">
                    <a href="#" title="Facebook" style="text-decoration: none;">
                        <img src="img/contact/1.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="Flickr" style="text-decoration: none;">
                        <img src="img/contact/2.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="Vimeo" style="text-decoration: none;">
                        <img src="img/contact/3.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="google plus" style="text-decoration: none;">
                        <img src="img/contact/4.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="instagram" style="text-decoration: none;">
                        <img src="img/contact/5.png" class="img-responsive icon" alt="Responsive image">
                    </a>
                    <a href="#" title="pinterest" style="text-decoration: none;">
                        <img src="img/contact/6.png" class="img-responsive icon" alt="Responsive image">
                    </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h4 style="color: white">Sản phẩm mới</h4>
                </div>
                <div class="col-md-2">
                    <h4 style="color: white;">Kiểm định</h4>
                </div>
                <div class="col-md-3">
                    <h4 style="color: white;">Đặt hàng ngay: <a style="color: red" href="#">(08) 6614-6613</a></h4>
                </div>
                <div class="col-md-3">
                    <h4 style="color: white; clear: left;">Giao hàng toàn quốc</h4>
                </div>
                <div class="col-md-2">
                    <h4 style="color: white;">Bảo hành</h4>
                </div>
            </div>
            <div class="row" style="color: #FF3399;">
                <h3 style="text-align: center;">“Liên Hoa Các xin phục vụ những con người an nhiên bằng tấm lòng chân thật…”</h3>               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row" style="color: white">
                        <h2>Chất lượng</h2>
                        <p style="text-align: justify;">Liên Hoa Các cam kết chất lượng cho tất cả sản phẩm bằng <a href="#" style="color: #359ae3;">chính sách bảo hành</a> đi theo mỗi sản phẩm và chăm sóc trọn đời sau khi hết bảo hành.</p>
                    </div>
                    <div class="row" style="color: white">
                        <h2>Phục vụ</h2>
                        <p style="text-align: justify;">Liên Hoa Các cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng <a href="#" style="color: #359ae3;">chính sách hoàn tiền và tặng quà</a> nếu sản phẩm được giao đến tay bạn không đúng miêu tả hoặc bị lỗi.</p>
                    </div>
                    <div class="row" style="color: white">
                        <h2>Hỗ trợ</h2>
                        <p style="text-align: justify;">Nếu bạn cần trợ giúp hoặc <a href="#" style="color: #359ae3;">bạn muốn tìm một sản phẩm nào đó không có trên trang</a>; Đừng lo lắng! Hãy gọi ngay đến số 0868.240-120 hoặc inbox ở fanpage <a href="https://www.facebook.com/lienhoacac">facebook.com/lienhoacac</a></p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3" style="color: white;">
                    <div class="row">
                        <h4 style="text-align: center;">Đặt hàng và thu tiền tận nơi toàn quốc</h4>
                        <p style="font-weight: bold; text-align: center;">(08) 6614 - 6613</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-style: italic;">Hoặc Chuyển khoản trực tiếp với nội dung là số điện thoại của bạn:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                            Tên: Nguyễn Hữu Bảo<br>
                            Số tài khoản:<br>
                            <b style="font-size: 20px">104006766651</b><br>
                            ViettinBank – CN Vĩnh Long (Cái Nhum)<br>
                            <br>
                            Tên: Nguyễn Hữu Bảo<br>
                            Số tài khoản:<br>
                            <b style="font-size: 20px">0181003457301</b><br>                            
                            VietcomBank – CN Nam Sài Gòn<br>
                        </p>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <div class="row" style="color: white">
                        <h2>CSKH</h2>
                        <p>Tra cứu đơn hàng</p>
                    </div>
                    <br>
                    <div class="row" style="color: white">
                        <h2>FAQ</h2>
                        <p>
                            Vận chuyển<br>
                            Chính sách đổi trả<br>
                            Chính sách hoàn tiền<br>
                            Chính sách bảo hành<br>
                            Khách hàng VIP<br>
                        </p>
                    </div>
                    <div class="row" style="color: white">
                        <p style="font-size: 20px">Địa chỉ văn phòng</p>
                        <p>
                            101 Lê Hồng Phong, P2, Q5, HCM
                            Email:
                            phapkhilienhoacac@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center; color: white">
                <h2>Hệ thống LOTUS Retail Store</h2>
                <br>
            </div>
        </div>
    </div>
</footer>