<!DOCTYPE html>
<html lang="en">
<footer class="main-footer">
    <div class="footer">
        <div class="container">
            <div class="row mt-100 mb-50 footer-widgets">
                <!-- Start Contact Widget -->
                <div class="col-md-6 col-xs-12">
                    <div class="footer-widget contact-widget">
                        <img src="/img/LOGO.svg" class="logo-footer img-responsive" alt="Footer Logo" style="width: 80px;"/>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        <div class="row">
                                <div class="col-md-1">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="flickr" href="#"><i class="fa fa-flickr"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="instgram" href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="vimeo" href="#"><i class="fa fa-vimeo-square"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                </div>
                        </div>
                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Contact Widget -->

                <!-- Start Twitter Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget twitter-widget">
                        <h4>Twitter</h4>
                        Email: somecompany@example.com <br>
                        Phone: +1 234 567 89 10
                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Twitter Widget -->

                <!-- Start Flickr Widget -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget company-links">
                        <h4>Company</h4>
                        <ul class="footer-links">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Our Products</a></li>
                            <li><a href="#">Our Culture</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                </div><!-- .col-md-3 -->
                <!-- End Flickr Widget -->
            </div><!-- .row -->

            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2016 Karmo -  All Rights Reserved <a href="#">Tanislav Robert</a> </p>
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
    </div>
</footer>