<!DOCTYPE html>
<html lang="en">
<div class="fb-customerchat"
     page_id="802412829969294"
     minimized="true">
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '912333495590130',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid main-footer">
    <!-- <img src="/img/footer.jpg" class="img-responsive cursor" width="100%" style="position: absolute; margin-top: 50px; z-index: -10;"> -->
    <svg preserveAspectRatio="none" viewBox="0 0 100 105" height="200" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light" style="position: absolute;">
        <path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff" style="position: absolute;"></path>
    </svg>
    <div class="row">
            <div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <h3 style="color: #0070c0; text-align: center;">Giao hàng Toàn Quốc</h3>
                </div>
                <div class="col-md-4">
                    <h3 style="color: #0070c0; text-align: center;">Đặt hàng ngay: <a style="color: red; font-weight: bold;">(08) 6614 – 6613</a></h3>
                </div>
                <div class="col-md-3">
                    <h3 style="color: #0070c0; text-align: center;">Chất lượng và Uy tín</h3>
                </div>
                <div class="col-md-12">
                    <h3 style="text-align: center; color: #FF3399;">“Liên Hoa Các xin phục vụ những con người <b>an nhiên</b> bằng tấm lòng <b>chân thật</b>…”</h3>
                </div>
            </div>
            
            <br>
            <br>
            <div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <!-- <p style="color: #0070c0; font-size: 200%;">Pháp khí Liên Hoa Các</p> -->
                    <h2 style="color: #0070c0;">Pháp khí Liên Hoa Các</h2>
                </div>
                <div class="col-md-offset-5 col-md-3">
                    <h2 style="color: #0070c0;">Chủ tài khoản: <a style="color: white;">Nguyễn Hữu Bảo</a></h2>                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-offset-1 col-md-6">
                    <p style="font-size: 200%; color: white;">Địa chỉ văn phòng: 155, Tân Thiềng, Tân An Hội, Mang Thít, Vĩnh Long</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <p style="font-size: 150%; color: white;">Email: phapkhilienhoacac@gmail.com</p>
                    <p style="font-size: 150%; color: white;">Hotline: 08.6614.6613 - 0868.240.120</p>
                </div>
                <div class="col-md-3">
                    <img src="/img/bocongthuong.png" class="img-responsive cursor center-block" width="70%">
                </div>
                <div class="col-md-2">
                    <img src="/img/vietinbank.png" class="img-responsive cursor">
                    <b style="font-size: 150%; color: white;">104006766651</b>
                </div>
                <div class="col-md-2">
                    <img src="/img/vietcombank.png" class="img-responsive cursor">
                    <b style="font-size: 150%; color: white;">0181003457301</b>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <h1 style="text-align: center; color: white;">Bản quyền thuộc về <b>Hệ thống Liên Hoa Các</b> Copyright © 2018</h1>
                </div>
            </div>
    </div>
    <div class="row" style="text-align: center; color: white">
                <br>
                <div class="fb-page" data-href="https://www.facebook.com/lienhoacac/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/lienhoacac/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lienhoacac/">Pháp khí Liên Hoa Các</a></blockquote></div>
    </div>
</div>
