<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Liên Hoa Các - Nghệ thuật tâm linh</title>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flickity.css" media="screen">
</head>
<body>
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-7 col-xs-7">
                <img class="img-responsive center-block" src="/assets/img/header.PNG">
            </div>
            <div class="col-md-5 col-xs-5" style="position: absolute; bottom: 0px; right: 0px;">
                <h3>Mã đơn hàng:<a href="#" style="color: #00CCFF">LHC00001</a></h3>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">Kính gửi:</h4>
                </div>
                <div class=" col-xs-10 col-md-10">
                    <h4 style="color: #00CCFF; font-weight: bold;">Ông Nguyễn Hữu Bảo</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">SĐT:</h4>
                </div>
                <div class=" col-xs-10 col-md-10">
                    <h4 style="color: #00CCFF; font-weight: bold;">0962190841</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">Địa chỉ:</h4>
                </div>
                <div class=" col-xs-10 col-md-10">
                    <h4 style="color: #00CCFF; font-weight: bold;">101/3 Lê Hồng Phong, ………………....................
                ……………………….p2, q5, HCM………………</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-decoration: underline; font-style: italic;">Hình thức thanh toán:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">COD/Tiền mặt/Chuyển khoản/…</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-decoration: underline; font-style: italic;">Hình thức vận chuyển:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">........</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-xs-4">
                    <h4 style="text-decoration: underline; font-style: italic;">Mã vận chuyển:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">........</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">Tổng cộng:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">03 Sản phẩm</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">Thành tiền:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">299.000đ</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 style="text-decoration: underline; font-style: italic;">Thành tiền:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">299.000đ</h4>
                </div>
        </div>
        <div class="row">
                <div class="col-md-3 col-xs-3">
                    <h4 style="font-weight: bold; color: #00CCFF;">Ngày hóa đơn:</h4>
                </div>
                <div class=" col-xs-8 col-md-8">
                    <h4 style="color: #00CCFF; font-weight: bold;">..........</h4>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <img src="/img/footer.png" class="img-responsive center-block" style="text-align: center; width: 30%;">
        </div>
    </div>
    <div class="row">
        <h3 style="font-weight: bold; text-align: center;">“Liên Hoa Các xin phục vụ những con người an nhiên bằng tấm lòng chân thật…”</h3>
    </div>
</body>


</html>

