<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container">
    <div class="row ">
        <ol class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a
                    href="/voucher">Voucher</a>
        </ol>

    </div>
    <div class="container solid-content">
        <h3>Thông tin sản phẩm</h3>

        <div id="cartdetail" class = "row">
            <table class="table table-bordered">
                <thead>
                <th class="text-right" style="text-align: center;"><h3>Tên voucher</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Ngày bắt đầu</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Ngày kết thúc</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Số Lượng</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Giá tối thiểu</h3></th>
                <!-- <td ><h4 style="text-align: center;">Size</h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td> -->
                </thead>
            </table>
        </div>
    </div>
</div>


</body>

<% include partials/index_Footer.ejs %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript"  src="/js/bootstrap.js"></script>
<script  type="text/javascript" src="/js/slimmenu.js"></script>
<script type="text/javascript"  src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript"  src="/js/bootstrap-timepicker.js"></script>
<script type="text/javascript"  src="/js/nicescroll.js"></script>
<script type="text/javascript"  src="/js/dropit.js"></script>
<script  type="text/javascript" src="/js/ionrangeslider.js"></script>
<script  type="text/javascript" src="/js/icheck.js"></script>
<script type="text/javascript"  src="/js/fotorama.js"></script>
<script type="text/javascript"  src="/js/typeahead.js"></script>
<script  type="text/javascript" src="/js/card-payment.js"></script>
<script type="text/javascript"  src="/js/magnific.js"></script>
<script type="text/javascript"  src="/js/owl-carousel.js"></script>
<script  type="text/javascript" src="/js/fitvids.js"></script>
<script type="text/javascript"  src="/js/tweet.js"></script>
<script  type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript"  src="/js/gridrotator.js"></script>
<script type="text/javascript"  src="/js/custom.js"></script>
</html>