.font-custom{
    font-family: "Palatino Linotype";
}
body { font-family: Cambria; }
a:hover{
    text-decoration: none;
}
.nav-hover:hover{
    background-color: transparent;
}
/*01. Header*/
.center-height {
    top: 50%; 
    transform: translate(0%, -50%);
    position: absolute;
    max-height: 450px;
}
.center-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    border-radius:5px;
}

form.search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius:5px;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#menu {
    background-color:  #1C1C1C/*rgba(0, 0, 0, 0.7)*/;
    width: 100%;
    padding: 4px;
}
#menu ul{
    list-style-type: none; /*không định dạng chữ ảnh hưởng bên html*/
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#menu ul li {
    color: #FFFFFF;
    display: inline-table;
    width: 19%;
    line-height: 50px; /*căn giữa dòng height*/
}
#menu ul li a {
    color: #FFFFFF;
    font-size: 50%;
    text-decoration: none; /*mất đi phần định dàng bên html*/
    display: block; /*màu nên bao bọc hết phần li*/
}

.dropdown-menu{
    display: none;
}
.dropdown:hover .dropdown-menu {display: block;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    min-width: 320px;
}

.popup {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    border-radius:5px;
    width: 60%;
    min-height: 400px;
    min-width:  320px;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*02. Footer*/
.main-footer {
    background-color: #1C1C1C;
}

.icon{
    width: 40px;
    height: 40px;
    display: inline;;
}
.iconsbar{
    text-align: center;
    margin: 20px;
}

/*03. payment */

.solid-content {
    margin: 15px;
    border: #FF3399 solid 2px;
    border-radius: 5px;
}

/*04. Index*/

.main-home{
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0px;
}

.product{
    /*background-color: #B28D34;*/
    margin-top: 20px;
    height: 420px;
    border: #bfbfbf solid 2px;
    position: relative;
    padding: 10px;
}

.active,
.item-product-detail:hover {
  opacity: 1;
}

}
.cursor{
    cursor: pointer;
}

.button-image{
    border: none;
    background-color: transparent;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Animation product-img*/
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*select checkout-Payment*/
.selected {
    border: 2px solid black;
    border-radius: 2px;
}

/* Shake animation */
.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 3s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Slide buttom*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  top: 40px;
  background-color: rgba(0,0,0,0.2);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}